* {
  padding: 0;
  margin: 0;
  font-family: "Poppins", sans-serif;
}
/* separate classes */
.black_layer {
  height: 100%;
  width: 100%;
  background-color: rgba(4, 9, 30, 0.753);
}
/* ---------------------------- */
/* nav bar */
.nav {
  height: 90px;
  width: 100%;
  display: flex;
  justify-content: center;
  position: fixed;
}
.nav .container {
  height: 90px;
  width: 80%;
  background-color: white;
  display: flex;
  box-shadow: 0px 0px 5px black;
}
.nav .container .logo {
  height: 90px;
  width: 20%;
  /* background-color: blue; */
  display: flex;
  justify-content: center;
}
.nav .container .logo img {
  height: auto;
  width: auto;
  align-self: center;
}
.nav .container .pages {
  height: 90px;
  width: 80%;
  /* border: 1px red solid; */
  display: flex;
  flex-direction: row-reverse;
  align-items: center;
}
.nav .container .pages a {
  padding: 38px 10px;
  margin: 0px 10px;
  text-decoration: none;
  color: black;
  transition: 0.4s;
}
.nav .container .pages a:hover {
  transition: 0.4s;
  color: rgb(212, 180, 0);
}
/* ---------------------------------- */
/* middle secction */

.mid_section {
  height: 800px;
  width: 100%;
  background: url(assets/images/banner_bg.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  justify-content: center;
  align-items: center;
}
.mid_section .layer {
  height: 100%;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.518);
}
.mid_section .layer .content {
  height: 300px;
  width: 50%;
  padding-top: 15%;
  padding-left: 25%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.mid_section .layer .content .txt {
  height: 100%;
  width: 100%;
  color: white;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
}
.mid_section .layer .content .txt h1 {
  font-size: 60px;
}
.mid_section .layer .content .txt a {
  text-decoration: none;
  color: white;
  height: 40px;
  width: 130px;
  font-weight: 600;
  background-color: goldenrod;
  display: flex;
  justify-content: center;
  align-items: center;
}

.book_your_room {
  margin-left: 200px;
  margin-top: 80px;
  height: 130px;
  width: 70%;
  padding: 30px;
  background-color: rgb(4, 9, 30);
  bottom: 0;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(2, 1fr);
}
.book_your_room h1 {
  padding: 20px;
  font-size: 25px;
  align-self: center;
  grid-column: 1/2;
  grid-row: 1/3;
  color: white;
}
#arrival_date {
  grid-row: 1/2;
  grid-column: 2/3;
  height: 50px;
  width: 200px;
  background-color: rgb(4, 9, 30);
  color: #2b3146;
  border: 1px solid #2b3146;
}
#departure_date {
  grid-row: 2/3;
  grid-column: 2/3;
  height: 50px;
  width: 200px;
  background-color: rgb(4, 9, 30);
  color: #2b3146;
  border: 1px solid #2b3146;
}
#age {
  grid-row: 1/2;
  grid-column: 3/4;
  height: 50px;
  width: 200px;
  background-color: rgb(4, 9, 30);
  color: #2b3146;
  border: 1px solid #2b3146;
}
#child {
  grid-row: 2/3;
  grid-column: 3/4;
  height: 50px;
  width: 200px;
  background-color: rgb(4, 9, 30);
  color: #2b3146;
  border: 1px solid #2b3146;
}
#rooms {
  grid-row: 1/2;
  grid-column: 4/5;
  height: 50px;
  width: 200px;
  background-color: rgb(4, 9, 30);
  color: #2b3146;
  border: 1px solid #2b3146;
}
.book_your_room button {
  grid-row: 2/3;
  grid-column: 4/5;
  height: 50px;
  width: 200px;
  height: 50px;
  width: 90px;
  background-color: goldenrod;
  color: rgb(4, 9, 30);
}
/* ----------------------------------- */

/* hotel accomodation */
.hotel_accomodation {
  height: 700px;
  width: 100%;
  background-color: white;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
}
.hotel_accomodation .head {
  height: 20%;
  width: 80%;
  /* background-color: blue; */
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}
.hotel_accomodation .head p {
  color: gray;
}
.hotel_accomodation .head h1 {
  color: rgb(27, 27, 27);
}
.hotel_accomodation .cards {
  height: 60%;
  width: 80%;
  /* background-color: red; */
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
}
.hotel_accomodation .cards .card {
  height: 85%;
  width: 20%;
  /* background-color: blue; */
}
.hotel_accomodation .cards .card .img {
  height: 80%;
  width: 100%;
  /* background-color: green; */
  border-radius: 10px;
}
.hotel_accomodation .cards .card .img img {
  height: 100%;
  width: 100%;
}
.hotel_accomodation .cards .card .info {
  height: 20%;
  width: 100%;
  /* background-color: violet; */
  text-align: center;
}
.hotel_accomodation .cards .card .info h3 {
  color: rgb(27, 27, 27);
  padding-top: 10px;
}
.hotel_accomodation .cards .card .info #night {
  color: rgb(27, 27, 27);
  padding-top: 10px;
}
#price {
  color: goldenrod;
  font-weight: bold;
  font-size: 30px;
  padding-top: 10px;
}
/* ----------------------------------- */

/* royal facilities */
.royal_facilities {
  height: 700px;
  width: 100%;
  background-image: url(assets/images/facilites_bg.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  justify-content: center;
}
.royal_facilities  .content{
    width: 100%;
    height: 100%;
    /* background-color: blue; */
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(3, 1fr);
  text-align: center;
}
.royal_facilities .content .head{
    grid-row: 1/2;
    grid-column: 2/3;
    /* background-color: red; */
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    color: white;
}
.royal_facilities .content .head h1{
    font-size: 40px;
    padding-top: 20px;
}
.royal_facilities .content .head p{
    font-size: 15px;
    color: gray;
    padding-bottom: 20px;
}
.royal_facilities .content .cards{
    padding: 0 60px;
    grid-row: 2/4;
    grid-column: 1/4;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-wrap: wrap;
}
.royal_facilities .content .cards .card{
    height: 200px;
    width: 27%;
    border: 1px gray solid;
    background-color: rgba(128, 128, 128, 0.226);
    border-radius: 10px;
}
/* --------------------------------- */
