*{
    padding: 0;
    margin: 0;
}
/* nav bar */
.nav{
    height: 90px;
    width: 100%;
    background-color: black;
    display: flex;
    justify-content: center;
}
.nav .container{
    height: 90px;
    width: 80%;
    background-color: white;
    display: flex;
}
.nav .container .logo{
    height: 90px;
    width: 20%;
    background-color: blue;
}
.nav .container .pages{
    height: 90px;
    width: 80%;
    background-color: red;
}
/* ---------------------------------- */